// Google Analytics measurement ID - not required
NEXT_PUBLIC_GA_MEASUREMENT_ID = "G-##########"
// Google Adsense publisher ID - not required
NEXT_PUBLIC_ADSENSE_PUBLISHER_ID = "pub-################"
// GitHub OAuth
GITHUB_ID = "####################"
GITHUB_SECRET = "########################################"
// NextAuth URL and secret
NEXTAUTH_URL = "http://localhost:3000"
// openssl rand -base64 32
NEXTAUTH_SECRET = "############################################"
// API server URL
API_SERVER_URL = "localhost:4000"
// system API key (system user in database)
SYSTEM_API_KEY = "################################################################"
